.tv {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 95%;
	height: 100%;
	overflow: hidden;
    margin: 0 auto;

	.screen {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		margin: auto;
		opacity: 0;
		transition: opacity 0.5s;

		&.active {
			opacity: 1;
		}
	}
}
