---
layout: default
---

{% include hero.html %}

<section class="about">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
      {{ site.event.about.description | markdownify }}
    </div>
  </div>
</section>

<section class="info">
  <div class="container">
    <div class="items row">
      {% for section in site.event.info.sections %}
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="item">
            <img src="{{ section.image }}" />
            <h1>{{ section.title }}</h1>
            <p>{{ section.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="schedule">
  <h1 class="text-center">Schedule</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-center">Day 1</h1>
          <h2 class="lightblue">8 AM - Registration</h2>
          <h2 class="purple">9 AM - Opening Ceremonies</h2>
          <h2 class="red">10 AM - Coding Starts</h2>
          <h2 class="red">10 AM - Workshop 1</h2>
          <h2 class="orange">12 PM - Lunch</h2>
          <h2 class="blue">1 PM - Workshop 2</h2>
          <h2 class="green">2 PM - Game/Break 1</h2>
          <h2 class="lightblue">4 PM - Snack</h2>
        </div>
        <div class="col-md-6">
          <h1 class="text-center">Day 2</h1>
          <h2 class="purple">12 AM - Midnight Snack</h2>
          <h2 class="red">8 AM - Morning Breakfast</h2>
          <h2 class="orange">11 AM - Code Freeze</h2>
          <h2 class="blue">12 PM - Lunch</h2>
          <h2 class="green">1 PM - Pitching Starts</h2>
          <h2 class="lightblue">3 pm - Game/Break 2</h2>
          <h2 class="purple">4 PM - Awards</h2>
        </div>
      </div>
    </div>
</section>

<section class="faq">
    <div class="col-xs-1">
        <ul id="sidebar">
            <li id="linecount-start">&nbsp;</li>
        </ul>
    </div>
    <div class="col-xs-10 container">
        <div class="row">
            <br>
            <div>
                <h1 class="text-center">FAQ</h1>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="question">
                            <span class="keyword">function</span>
                            <span class="function"> what_is_a_hackathon? </span>
                            <span class="parentheses">(</span>
                            <span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                          <p>A hackathon is an invention marathon. Students come together to build cool
                          software &amp; hardware hacks over 24-48 hours. It's <a class="faq-links" href="https://medium.com/@tfogo/hackathons-are-for-beginners-77a9c9c0e000#.cj21niskl">very beginner friendly</a>.</p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                    <div class="col-md-4">
                        <div class="question">
                            <span class="keyword">function</span>
                            <span class="function"> how_much_does_it_cost? </span>
                            <span class="parentheses">(</span>
                            <span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                          <p>Nothing. Attending is free. Food and prizes are on us!</p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                    <div class="col-md-4">
                        <div class="question">
                            <span class="keyword">function</span>
                            <span class="function"> do_i_need_to_be_a_student_to_attend? </span>
                            <span class="parentheses">(</span>
                            <span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                          <p>Yes. Only students who are currently enrolled at a highschool or have graduated within the past 12 months are eligible to attend.</p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="question">
                            <span class="keyword">function</span>
                            <span class="function"> where_is_this_event? </span>
                            <span class="parentheses">(</span>
                            <span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                          <p>The event is being hosted at TBD.</p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                    <div class="col-md-4">
                        <div class="question">
                            <span class="keyword">function</span>
                            <span class="function"> what_is_major_league_hacking? </span>
                            <span class="parentheses">(</span>
                            <span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                          <p>Major League Hacking is <a class="faq-links" href="https://mlh.io">the official student hackathon league</a> in North America &amp; Europe.
                            We work with over 200 Member Events and empower over 70,000 students every year.</p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                    <div class="col-md-4">
                        <div class="question">
                            <span class="keyword">function</span>
                            <span class="function"> is_there_a_code_of_conduct? </span>
                            <span class="parentheses">(</span>
                            <span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                          <p>Yes there is. We enforce it very strongly. You can <a class="faq-links" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">find it here</a>.</p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="question">
                            <span class="keyword">function</span>
                            <span class="function"> ok_if_no_experience? </span>
                            <span class="parentheses">(</span>
                            <span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                          <p>That's completely fine! You'll have plenty of opportunity to pick the brains of talented students around you. Furthermore, we will help you get started or learn something new!</p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                    <div class="col-md-4">
                        <div class="question">
                            <span class="keyword">function</span>
                            <span class="function"> what_to_build? </span>
                            <span class="parentheses">(</span>
                            <span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                          <p>You can build whatever you want: websites, programs, mobile apps, anything! However, all code must be written during the hackathon - feel free to use open source libraries and APIs.</p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                    <div class="col-md-4">
                        <div class="question">
                            <span class="keyword">function</span>
                            <span class="function"> num_people_per_team </span>
                            <span class="parentheses">(</span>
                            <span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                          <p>We recommend working in teams of 3-4 people, though participants in the past have worked solo or in pairs as well. However, if your team would like to submit your project for prize consideration, we have a hard limit of 4 members per team.</p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="question">
                            <span class="keyword">function</span>
                            <span class="function"> not_a_hacker </span>
                            <span class="parentheses">(</span>
                            <span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                          <p>You can help by sponsoring the event. You can also spread the word about this event to students, friends, and media.</p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                  <div class="col-md-4">
                        <div class="question">
                            <span class="keyword">function</span>
                            <span class="function"> not_a_hacker </span>
                            <span class="parentheses">(</span>
                            <span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                          <p>You can help by sponsoring the event. You can also spread the word about this event to students, friends, and media.</p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                  <div class="col-md-4">
                        <div class="question">
                            <span class="keyword">function</span>
                            <span class="function"> not_a_hacker </span>
                            <span class="parentheses">(</span>
                            <span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                          <p>You can help by sponsoring the event. You can also spread the word about this event to students, friends, and media.</p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
