<section class="faq">
    <div class="col-xs-1">
        <!-- <ul id="sidebar">
            <li id="linecount-start">&nbsp;</li>
        </ul> -->
    </div>
    <div class="col-xs-10 faq-body container">
        <div class="row">
            <br/>
            <div>
                <h1 class="text-center">FAQ</h1>
                <br />
                <div class="row">
                    <div class="col-md-4 faq-block">
                        <div class="question">
                            <span class="keyword">function</span><span class="function"> what_is_a_hackathon? </span><span class="parentheses">(</span><span class="params"></span><span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                            <p>A hackathon is an invention marathon. Students come together to build cool software &amp; hardware hacks over 24-48 hours. It's <a href="https://medium.com/@tfogo/hackathons-are-for-beginners-77a9c9c0e000#.cj21niskl">very beginner friendly</a></p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                    <div class="col-md-4 faq-block">
                        <div class="question">
                            <span class="keyword">func</span> <span class="function">what_is_a_hackathon</span><span class="parentheses">(</span><span class="params"></span><span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                            <p>A hackathon is an event in which groups of hackers divided into teams develop a product. Hundreds of programmers get together to build something from scratch, be it a website, app, or some other product of their imagination.
                                There will be lots of food and prizes, and opportunities to work with representatives from various companies.</p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                    <div class="col-md-4 faq-block">
                        <div class="question">
                            <span class="keyword">func</span> <span class="function">what_is_a_hackathon</span><span class="parentheses">(</span><span class="params"></span><span class="parentheses">)</span> <span class="brace">{</span>
                        </div>
                        <div class="answer">
                            <p>A hackathon is an event in which groups of hackers divided into teams develop a product. Hundreds of programmers get together to build something from scratch, be it a website, app, or some other product of their imagination.
                                There will be lots of food and prizes, and opportunities to work with representatives from various companies.</p>
                        </div>
                        <span class="brace">}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
