<section class="faq">
    <div class="col-xs-1">
        <!-- <ul id="sidebar">
            <li id="linecount-start">&nbsp;</li>
        </ul> -->
    </div>
    <div class="col-xs-10 faq-body container">
        <div class="row">
            <br/>
            <div>
                <h1 class="text-center">FAQ</h1>
                <br />
                <div class="row">
                    <div class="col-md-4 faq-block">
                        <div class="question">
                            <span class="keyword">func</span> <span class="function">what_is_a_hackathon</span>(<span class="params"></span>) {
                        </div>
                        <div class="answer">
                            <p>A hackathon is an event in which groups of hackers divided into teams develop a product. Hundreds of programmers get together to build something from scratch, be it a website, app, or some other product of their imagination.
                                There will be lots of food and prizes, and opportunities to work with representatives from various companies.</p>
                        </div>
                        <span class="closing-brace">}</span>
                    </div>
                    <div class="col-md-4 faq-block">
                        <div class="question">
                            <span class="keyword">func</span> <span class="function">who_can_attend</span>(<span class="params"></span>) {
                        </div>
                        <div class="answer">
                            <p>Any university student (graduate or undergraduate) is welcome to participate! We also admit high school students with parental permission. Anyone and everyone is welcome to come and see what participants are working on, though,
                                so feel free to swing by.</p>
                        </div>
                        <span class="closing-brace">}</span>
                    </div>
                    <div class="col-md-4 faq-block">
                        <div class="question">
                            <span class="keyword">func</span> <span class="function">ok_if_no_experience</span>(<span class="params"></span>) {
                        </div>
                        <div class="answer">
                            <p>That's completely fine! You'll have plenty of opportunity to pick the brains of talented students around you. Furthermore, 12 hours is plenty of time to learn something new!</p>
                        </div>
                        <span class="closing-brace">}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
